.homePageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 20px
}

.LinkButton {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    transition: background-color 0.4s;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: #f9f0ad;
    box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.LinkButton:hover {
    background-color: rgb(238, 226, 118);
}

.petContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid #3772FF; */
    border-radius: 15px;
    height: 150px;
    min-width: 300px;
    width: 600px;
    background-color: #C0EBD7;
    box-shadow: inset 0px 0px 6px -3px rgba(0, 0, 0, 0.75);
    transition: 1s;
}

.petContainer a {
    text-decoration: none;
}

.petContainer:hover {
    width: 700px;
}

.petContainer:hover .LinkButton {
    display: block;
    visibility: visible;
    opacity: 1;
}

.petContainer>p {
    font-size: 20px;
}

.petImage {
    width: 140px;
    height: 140px;
    border-radius: 10%;
}