.parent {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    width: 600px;
    padding-bottom: 20px;
    border: 4px solid pink;
    border-radius: 10px;
}

.container > h2 {
    display: flex;
    align-self: center;
}

.profileImg {
    height: 100px;
    width: 100px;
}

.changeImg {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.changeImg > p {
    margin: 4px;
}

.changeImgShown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeImg > div {
    cursor: pointer;
}

.changeImg > div:hover {
    font-weight: bold;
}

.formName {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    width: 90%;
}