.loginContainer {
    display: flex;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 300px;
    height: 400px;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

.labelColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.labelColumn > input {
    margin-top: 15px;
}