.registerContainer {
    display: flex;
    justify-content: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    background-color: #D0F288;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 20px;
    width: 300px;
    min-height: 350px;
}

.labelColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.labelColumn > input {
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    text-align: left;
    padding: 0px 0px 0px 40px;
    box-sizing: border-box;
    width: 202px;
    height: 32px;
    font-size: 16px;
}

.errorMsg {
    color: red;
    font-weight: bold;
}

.submitButton{
    background-color: #DF826C;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.3s;
}

.submitButton:hover{
    background-color: #d26c55;
}

.submitButtonDiv {
    position: relative;
}

.registerIcon {
    position: absolute;
    bottom: 7px;
    left: 8px;
    color: #7285a7;
}

.buttonIcon {
    position: absolute;
    bottom: 26px;
    right: 10px;
    color: white;
}